:root {
	/* COLORS */
	/* Primary */
	--color-primary: #4f7df3;

	/* Secondary */
	--color-secondary: #c2d3ff;
	--color-secondary-red: #ff5263;

	/* Neutral */
	--color-light: #969696;
	--color-dark: #151f29;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Libre Franklin', sans-serif;

	font-size: 1.2rem;
}

header {
	text-align: center;
	padding: 8.1rem 3.6rem 3.2rem;
}

.logo,
.logo > span {
	font-size: 2rem;
	font-weight: 700;
}
.logo {
	color: var(--color-dark);
	margin-bottom: 1.6em;
}
.logo > span {
	color: var(--color-primary);
}

.description {
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 1.45;
	color: var(--color-light);
	margin-bottom: 0.6818em;
}
.description > span {
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 1.45;
	color: var(--color-dark);
}

.subscribe-msg {
	font-weight: 400;
	color: var(--color-dark);
}

/* FORM */

.container.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 3.6rem 0;
	width: 100%;
}

form {
	width: 100%;
	max-width: 63.7rem;
	text-align: center;
}

.input-email,
.btn {
	font-family: inherit;
	width: 100%;
	max-width: 42.1rem;
	height: 4rem;
	border-radius: 2.33em;
}

.input-email {
	font-size: inherit;
	border: solid 1px var(--color-secondary);
	padding-left: 2.66em;

	margin-bottom: 0.833em;
}

#email::placeholder {
	color: var(--color-secondary);
}

.btn {
	color: #fff;
	font-weight: 600;
	background-color: var(--color-primary);
	border: none;
	cursor: pointer;
	box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
}

.err-msg {
	color: #ff5263;
	line-height: 2;
	font-size: 1rem;
	letter-spacing: 0.13px;
	margin-bottom: 2em;
}
